name: Build and Deploy

on:
    push:
        branches: [main, master]

jobs:
    build:
        runs-on: ubuntu-latest
        name: build

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: set env
              run: |
                  echo '${{ secrets.ENV }}' > /home/runner/work/orange/orange/.env

            - name: Set up SSH
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
              env:
                  SSH_HOST: ${{ secrets.SSH_HOST }}

            - name: Upload to server
              run: |
                  rsync -avz \
                    /home/runner/work/orange/orange/ \
                    ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }}:/home/${{ secrets.SSH_USER }}/orange
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

    deploy:
        runs-on: ubuntu-latest
        name: deploy
        needs: build

        steps:
            - name: Set up SSH
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
              env:
                  SSH_HOST: ${{ secrets.SSH_HOST }}

            - name: deploy on server
              run: |
                  ssh ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'ENDSSH'

                  sh /home/website/update_orange.sh

                  ENDSSH
              env:
                  SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
